<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>新規ブログエントリ作成画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<link rel="stylesheet" href="[% view.urlSrc %]/style.css" type="text/css" />
</head>

<body>
<div id="container">

<div id="banner">
<h1>新規ブログエントリ作成画面</h1>
<div class="desc">リクルートアフィリ生成ツールの動作確認用</div>
</div>

<div id="center">
<div class="content">

[% content %]

</div><!-- close tag for  id="content" -->
</div><!-- close tag for  id="center" -->

<div id="footer" class="footer">
<div class="content">
presented by <a href="http://www.tatamilab.jp/">たたみラボ</a>
</div>
</div>


<div style="clear: both"></div>
</div> <!-- close tag for  id="container" -->
</body>
</html>
