<h1>Rails 3.2.3 お試し</h1>
<ul>
  <li><%= link_to 'Posts', controller:'posts' %></li>
  <li><%= link_to 'Categories', controller:'categories' %></li>
  <li><%= link_to 'Uploads (paperclip お試し)', controller:'uploads' %></li>
  <li><%= link_to 'Gourmets (複数 checkbox + serialized column サンプル)', controller:'gourmets' %></li>
  <li style="margin-top:20px">Model 試しは test:units で。</li>
</ul>
