[% WRAPPER 'parts/headerfooter.tmpl' %]

<h2 class="navi">MAIN PAGE</h2>
<div class="entry">
<div class="honmon">
<h3>HEAD TITLE</h3>
<p>[% mdl.text %]</p>
</div><!-- close tag for  id="honmon" -->
</div><!-- close tag for  id="entry" -->

[% END %]
