<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>schedule</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="[% view.urlSrc %]/style.css" type="text/css" />
<style type="text/css">
</style>
</head>
<body>
<div id="container">

<div id="banner">
	<h1><a href="[% view.url %]">MyApp</a></h1>
	<div class="desc">welcome to mints framework :)</div>
</div>

<div id="right">
<div class="sidebar">

	<h6>MENU</h6>
	<div class="link-note">
	<ul>
	<li><a href="[% view.url %]">TOP PAGE</a></li>
	</ul>
	</div>

</div><!-- close tag for sidebar -->
</div><!-- close tag for right -->

<div id="center">
<div class="content">

[%- content -%]

</div><!-- close tag for content -->
</div><!-- close tag for center -->

<div id="footer" class="footer">
<div class="content">
presented by <a href="">mints framework</a>
</div>
</div>

<div style="clear: both;"></div>
</div> <!-- close tag for container -->
</body>
</html>
