#doc3 {
    background: #FFF;
    font-size: 123.1%;
}
#bd .rui-page-error {
    color: #FF0000;
}
#rui-page {
    margin-bottom: 20px;
}
#result-right {
    width: 230px;
}
#result-right .inner {
    border: 1px solid #DDD;
}
#result-right .head {
    background: #EEE;
    padding: 5px;
}
#myclip ol {
    margin: 1em;
    font-size: 0.9em;
}
#myclip li {
    /* list-style-type: lower-roman; */
    list-style-position: inside;
    margin-bottom: 10px;
}
#result-list a.check-on {
    background: #DDD;
}
#result-list li.bm {
    margin-bottom: 10px;
}
#myclip-btn {
    text-align: right;
    font-size: 0.9em;
    margin: 1em;
    display: none;
}
.cmp-table {
    font-size: 0.9em;
    background: #FFF;
}
.cmp-table .label {
    background: #FFF;
    width: 5em;
    vertical-align: top;
    border: 0;
    border-right: 1px solid #666;
}
.cmp-table .desc {
    width: 10em; /* 通常の列幅 */
    vertical-align: top;
    border: 0;
    border-right: 1px solid #DDD;
}
.cmp-table span.tip-text {
    border-bottom: 1px dotted #999;
    color: #999;
    font-size: 0.8em;
}
.cmp-table .even {
    background: #EEE;
}
.cmp-table img.spacer {
    width: 8em; /* 最低の列幅 */
    height: 1px;
}
.cmp-table img.spacer-label {
    width: 5em;
    height: 1px;
}

/* jquery.tabs */
.ui-tabs-hide {
    display: none;
}
ul#tab-ul {
    margin: 0 0 1em 0;
}
ul#tab-ul li {
    display: block;
    float: left;
    margin-right: 10px;
}
ul#tab-ul li.ui-tabs-selected a {
    font-weight: bold;
    background: #EEE;
}
ul#tab-ul li.ui-tabs-disabled a {
    text-decoration: none;
    color: #999;
}
ul#tab-ul li .mr {
    margin-left: 10px;
}

/* jquery.tooltip */
#tooltip {
    position: absolute;
    border: 1px solid #666;
    background: #999;
    color: #FFF;
    padding: 10px;
    opacity: 1;
    width: 25em;
}
#tooltip h3, #tooltip div {
    font-weight: normal;
    margin: 0;
}
#tooltip.tips {
    text-align: left;
}

/* layout clearfix */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
